<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Member Management</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/u/">用户</a></li>
                <li><a href="/m/">机器</a></li>
                <li><a href="/c/">消费</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                #set($user_name = $session.get('user_name'))
                #if($user_name)
                    <li><a href="/admin">${user_name}</a></li>
                    <li><a href="/u/logout/">注销</a></li>
                #else
                    <li><a href="/login/">登陆</a></li>
                    <li><a href="/register/">注册</a></li>
                #end
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
##todo 只在第一次进入页面时显示
##显示后清除session中的'hello'
##==2015-11-12 21:07:10
##velocity-tools对session的用法找不到
##而且session取出来的值需要赋给一个变量才行
###set($hello  = $session.get("hello"))
##==2015-11-12 21:47:23
##todo 移到js中处理
##$hello
#if($!session.getAttribute("hello"))
    #set($user = $session.get('user'))
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    welcome,$user.name,余额为$user.balance.
</div>
    $!session.removeAttribute("hello")
#end


