<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    #parse("layout/require_base.html")
</head>
<body>
    #parse("layout/navbar.html")
<div id="container">
    <div class="jumbotron">
        <h1>会员管理系统</h1>

        <p>balabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabala</p>

##        <p><a class="btn btn-primary btn-lg" href="/login/" role="button">登陆</a></p>
    </div>
</div>


</body>
</html>