<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    #parse("layout/require_base.vm")
</head>
<body>
    #parse("layout/navbar.vm")
<div id="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
            #foreach( $!{machine} in $!{machines})
            <tr>
                <td>$!{machine.id}</td>
                <td>$!{machine.name}</td>
                <td>
                    #if($!{machine.status})
                        使用中
                    #else
                        空闲
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>
    #parse("layout/pagination.vm")
</div>
</body>
</html>